[submodule "modules/superpowers"]
	path = modules/superpowers
	url = https://github.com/natea/superpowers
[submodule "modules/mcp-getgather"]
	path = modules/mcp-getgather
	url = https://github.com/natea/mcp-getgather
[submodule "modules/Skill_Seekers"]
	path = modules/Skill_Seekers
	url = https://github.com/natea/Skill_Seekers
[submodule "modules/life-os"]
	path = modules/life-os
	url = https://github.com/natea/life-os
[submodule "modules/anthropic-claude-skills"]
	path = modules/anthropic-claude-skills
	url = https://github.com/natea/anthropic-claude-skills.git
[submodule "modules/claude-code-by-agents"]
	path = modules/claude-code-by-agents
	url = https://github.com/natea/claude-code-by-agents
[submodule "modules/ar-claude-skills"]
	path = modules/ar-claude-skills
	url = https://github.com/natea/ar-claude-skills
